/* Width */
.width-135{
    width: 135px;
}

.width-140{
    width: 140px;
}

/* Height */
.height-50{
    height: 50px;
}

/* margin */
.margin-b-68{
    margin-bottom: 68px;
}

/* Font */
.title-big{
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
    color: black;
}

.title-38{
    font-size: 38px;
    line-height: 45px;
    font-weight: bold;
}

.title-36{
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
}

.title-24{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

.description{
    font-size: 16px;
    line-height: 20px;
    color: black;
}

.description-14{
    font-size: 14px;
    line-height: 18px;
}

/* color */
.color-terracotta{
    color: #D97652;
}

.color-iron{
    color: #606367
}

.color-white{
    color: white;
}

.color-ivory{
    color: #F2E9D8;
}

/* border */
.border-less{
    border: none;
}

/* align */
.align-v-middle{
    vertical-align: middle;
}

/* Anchor */
.anchor{
    position: relative;
}

/* keyframes */
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Effects */
.fade-in--default{
    animation: fade-in 0.5s;
    animation-fill-mode: forwards;
}